.details {
  margin: 5px;
  border-radius: 5px;
  font-weight: 200;
}

.details img {
  width: 100%;
  border-radius: 4px;
}

.details .price-title {
  display: flex;
  justify-content: space-between;
}

.details > p,
.data-group {
  margin-top: 5px;
}

.data-group p:nth-child(2) {
  margin-left: 10px;
}

.buttons {
  display: flex;
  justify-content: space-evenly;
}

.buttons button {
  padding: 3px;
  border-radius: 3px;
  width: 100px;
}

#deleteBtn {
  background-color: #d9534f;
  color: white;
}

#editBtn {
  background-color: #f0ad4e;
}
