/* .details {
  border: solid;
} */

.details img {
  width: 100%;
}

.details .price-title {
  display: flex;
  justify-content: space-between;
}

/* .buttons > * {
  border: solid;
} */

.buttons {
  display: flex;
  justify-content: space-evenly;
}
