.edit-section {
  flex-grow: 1;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.edit-section > h3,
.edit-section > form,
.edit-section > p {
  margin-bottom: 3%;
  width: fit-content;
}

.edit-section > h3 {
  font-weight: 500;
  font-size: 30px;
}

.edit-section > form {
  text-align: center;
}

.edit-section > form > div {
  display: flex;
  flex-direction: column;
  margin: 5px;
  margin-bottom: 5%;
}

.edit-section input[type="submit"] {
  width: 100%;
}
