.category {
  /* border: solid; */
}

.category h2 {
  text-align: center;
}

.menu-card {
  border: solid 0.5px;
  margin: 5px;
  padding: 5px;
  border-radius: 5px;
}

.category a {
  text-decoration: none;
  color: black;
}

.menu-card img {
  width: 100%;
}

.menu-card .title-price {
  display: flex;
  justify-content: space-between;
  overflow: hidden;
}
