.category {
  border: solid blue;
}

.category h2 {
  text-align: center;
}

.menu-card {
  border: red solid;
}

.category a {
  text-decoration: none;
}

.menu-card img {
  width: 100%;
}

.menu-card .title-price {
  border: solid coral;
  display: flex;
  justify-content: space-between;
}
