.menu-cards {
  display: flex;
  flex-wrap: wrap;
  justify-content: start;
  max-width: 1250px;
  margin: auto;
}

.category h2 {
  text-align: center;
  font-family: "Montserrat", sans-serif;
  font-weight: 300;
}

.menu-card {
  border: solid 0.5px rgba(100, 100, 100, 0.411);
  margin: 5px;
  padding: 5px;
  border-radius: 5px;
  font-weight: 200;
  max-width: 400px;
  min-width: 280px;
}

.category a {
  text-decoration: none;
  color: black;
}

.menu-card img {
  width: 100%;
}

.menu-card .title-price {
  display: flex;
  justify-content: space-between;
  overflow: hidden;
}
